@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3rem;
    background: #eaeced;
}

li{
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}

p{
    font-weight: 200;
}

.btn {
  display: inline-block;
  background: #d1d633;
  color: #333;
  padding: 0.2rem 0.4rem;
  margin-top: 2rem;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

/* NAVBAR */

.navbar {
  background-color: #333;
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  opacity: 0.9;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 69%;
}

.nav ul a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}

.nav ul a:hover {
  color: #00aeef;
  transition: 0.5s;
}

/* SHOWCASE TITLE */

.showcase {
  background-image: url(../img/bled5.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: auto;
  height: 57vh;
  opacity: 0.9;
  margin-bottom: 3.5rem;
}

.card-overlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  );
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.title {
  display: flex;
  width: auto;
  text-align: center;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
}

.title h1 {
  color: #00aeef;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  font-weight: 800;
  /* text-transform: uppercase; */
}
.span-1{
  color: #CBDB2A;
}

.span-3{
  color: #CBDB2A;
}

.span-2{
  color: #CBDB2A;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #fff;
  margin-bottom: 2rem;
}

.card h3 {
  margin-bottom: 2rem;
  font-weight: 700;
}

.card > div {
  padding: 2rem;
}

.card:nth-child(even) img {
  order: 2;
}

.background{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-1{
  background-image: url(../img/cinque\ dan.jpeg);
}
.background-2{
  background-image: url(../img/bled5.jpeg);
}
.background-3{
  background-image: url(../img/cinque.jpeg);
}
.background-4{
  background-image: url(../img/rim.jpeg);
}

/* BROCHURES */


.header-title{
    display: flex;
    margin-bottom: 1.8rem; 
    justify-content: center;
    align-items: center; 
}

.header{
    text-align: center;
    margin: 0 10px;
}

.header-before{
    background: #999;
    opacity: 0.2;
    content: '';
    flex: 1;
    height: 0.5px;
}

.header h2{
    font-weight: 600;

}

.brochures-content{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 12px;
    grid-gap: 4rem 1rem;
    padding-bottom: 3rem;
}

.brochures a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brochures-title {   
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

.brochures h3{
    font-weight: 400;
}

/* BEST SELLERS */

.best-sellers{
  grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 12px;
    grid-gap: 4rem 1rem;
    padding-bottom: 3rem;
    border-bottom: none;
}

.best-sellers-item{
  background-image: url(../img/nofilter.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 10rem;
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.best-sellers-item:hover{
  opacity: 0.8;
}

.best-sellers-item-title{
  color: #fff;
  font-size: 0.9rem;
  font-weight: 100;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0.5rem;
  width: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.best-sellers-item-title h3{
  font-weight: 400;
}

#best-seller-1{
  background-image: url(../img/paris.jpeg);
}
#best-seller-2{
  background-image: url(../img/castle.jpeg);
}
#best-seller-3{
  background-image: url(../img/beograd.jpg);
}
#best-seller-4{
  background-image: url(../img/baltic.jpeg);
}
#best-seller-5{
  background-image: url(../img/scandinavian.jpeg);
}
#best-seller-6{
  background-image: url(../img/ski.jpeg);
}
#best-seller-7{
  background-image: url(../img/budapest.jpeg);
}

#best-seller-8{
  background-image: url(../img/stpet.jpeg);
}


/* HIDDEN */


#best-seller-9{
  background-image: url(../img/venice.jpeg);
}
#best-seller-10{
  background-image: url(../img/vienna.jpeg);
}
#best-seller-11{
  background-image: url(../img/golf.jpeg);
}
#best-seller-12{
  background-image: url(../img/wine.jpeg);
}
#best-seller-13{
  background-image: url(../img/croatia.jpeg);
}
#best-seller-14{
  background-image: url(../img/florence.jpeg);
}
#best-seller-15{
  background-image: url(../img/moscow.jpeg);
}
#best-seller-16{
  background-image: url(../img/mnas.jpeg);
}


/* SHOW MORE BUTTON */

#flex{
  display: flex;
  justify-content: center;
}

.show-more{
  justify-content: center;
  margin-bottom: 3rem;
  background: #333;
  opacity: 0.8;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 0 rgba(0,0,0, 0.45);
}

.show-more:hover{
  color: #00aeef;
  transition: 0.3s;
  background-color: #444;
}

#hide-show{
  margin-top: 0;
  display: none;
  }


/* FOOTER */


.footer-content {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    
}

.copyright{
    color: #fff;
    font-size: 1rem;
    text-align: center;
}
.terms{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.terms a{
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    padding-top: 1rem;
}

.terms a:hover{
  color: #00aeef;
  transition: 0.5s;
}

.footer-container{
    width: 86%;
    margin: auto;
}


.footer{
    background-color: #494949;
    color: #fff;
}


.fa-phone-alt{
  font-size: 0.8rem;
}



/* proba footer */


.footer-info{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 6rem;
  font-size: 0.9rem;
  width: 80%;
  margin: auto;
}

.footer-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-card ul{
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.footer-card ul li{
  padding: 4px;
}

.footer-card h3{
  padding-bottom: 1.8rem;
}

#email{
  color: #00aeef;
}

.social{
  display: flex;
  justify-content: space-between;
  width: 60%;  
}

.social a{
  font-size: 1.5rem;
  color: #fff;
}

.social a:hover{
  color: #00aeef;
}

.footer-card ul li a{
  color: #fff;
}

.footer-card ul li a:hover{
  color: #00aeef;
  font-size: 1.1rem;
}

.copyright{
  padding-top: 2rem;
}


.boja{
  background-color: #222;
  height: 13rem;
  margin-bottom: 6rem;
  padding-bottom: 8rem;
  padding-top: 2rem;
}



/* MEDIA QUERIES */

/* SMARTPHONE */

@media (min-width:320px) and (max-width: 480px){
  .nav{
    height: 6rem;
    overflow: hidden;
  }

  .showcase{
    height: 90vh;
  }
/* NAV BAR HIDDEN UBACITI PADAJUCI MENI U JAVASCRIPTU */
  .nav ul{
    visibility: hidden;
  }
.footer-content div a img{
  width: 100%;
}

.footer-card h3{
  padding-bottom: 0rem;
  padding-top: 1rem;
}

.boja{
  height: 16rem;
  margin-bottom: 0px;
}

.social{
  width: 34%;
}

.about{
  display: flex;
  flex-direction: column;
}

#bus-img{
  display: flex;
  justify-content: center;
}
#bus-img img{
  width: 70%;
  align-items: center;
}

.video img{
  width: 100%;
}

.footer-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-content{
  display: grid;
  grid-template-columns:  1fr 1fr;
}
}

/* TABLET */


@media (min-width:481px) and (max-width: 768px){

  /* NAV BAR HIDDEN UBACITI PADAJUCI MENI U JAVASCRIPTU */

  .nav ul{
    visibility: hidden;
  }

  .boja{
    height: 16rem;
    margin-bottom: 0px;
  }

  .about{
    display: flex;
    flex-direction: column;
  }

  .footer-content{
    display: grid;
    grid-template-columns:  1fr 1fr;
  }

  .boja{
    height: 20rem;
  }

  .footer-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .social{
    width: 34%;
    margin-top: -15px;
  }

  .footer-card h3{
    padding-bottom: 0rem;
    padding-top: 1rem;
  }
  
}


@media (min-width:769px) and (max-width: 900px){
  .nav ul{
    width: 80%;
  }
}


@media (max-width: 900px) {
  .footer-content{
    width: 100%;
  }
}

@media(max-width: 1200px) {
  .nav{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .logo{
    padding-bottom: 0.5rem;
  }

  .showcase{
    height: 70vh;
  }

  .footer-info{
    grid-gap: 1rem;
  }
}




























/* 

@media (max-width: 700px) {
  .card {
    display: block;
  }
  
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px)  { 
      .container {
          width: 64%;
      }

      
      

      .showcase {
        height: 80vh;
      }

      .best-sellers{
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem 0rem;
      }     

      .brochures a h3{
        font-size: 1.2rem;
        font-weight: 500;
      }


} */

/* MEDIA FOR SCREEN SMALLER THAN LAPTOP*/

/* .nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.nav ul{
  width: 100%;
} */