@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3rem;
    background: #eaeced;
}

li{
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}

p{
    font-weight: 200;
}

.btn {
  display: inline-block;
  background: #d1d633;
  color: #333;
  padding: 0.2rem 0.4rem;
  margin-top: 2rem;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}

.container {
  max-width: 1100px;  
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

/* NAVBAR */

.navbar {
  background-color: #333;
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  opacity: 0.9;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 69%;
}

.nav ul a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}

.nav ul a:hover {
  color: #00aeef;
  transition: 0.5s;
}

/* SHOWCASE TITLE */

.showcase {
  background-image: url(../img/kk.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: auto;
  height: 57vh;
  opacity: 0.9;
}

.card-overlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  width: auto;
  text-align: center;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.title h1 {
  color: #eaeced;
  letter-spacing: 0.2rem;
  font-size: 3.5rem;
  font-weight: 800;
}

.mission{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mission h2{
  margin-bottom: 2rem;
}

.mission p{
  font-size: 1rem;
  text-align: center;
  width: 80%;
  font-weight: 500;
  font-style: italic;
}


.about{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

#bus-img img{
  width: 100%;
}

.text h3{
  padding-bottom: 2rem;
  text-align: center;
}
.text p{
  font-size: 1rem;
  font-weight: 400;
}

.specialities{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.specialities h2{
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.specialities p{
  font-size: 1rem;
  text-align: center;
  width: 80%;
  font-weight: 500;
}

.video{
  display: flex;
  justify-content: center;
}
.video img{
  width: 70%;
  height: 90%;
  padding-bottom: 3rem;
}





#bold-font{
  font-weight: 600;
}

/* FOOTER */


.footer-content {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    
}

.copyright{
    color: #fff;
    font-size: 1rem;
    text-align: center;
}
.terms{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.terms a{
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    padding-top: 1rem;
}

.terms a:hover{
  color: #00aeef;
  transition: 0.5s;
}

.footer-container{
    width: 86%;
    margin: auto;
}


.footer{
    background-color: #555;
    color: #fff;
}


.fa-phone-alt{
  font-size: 0.8rem;
}



/* proba footer */


.footer-info{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 6rem;
  font-size: 0.9rem;
  width: 80%;
  margin: auto;
}

.footer-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-card ul{
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.footer-card ul li{
  padding: 4px;
}

.footer-card h3{
  padding-bottom: 1.8rem;
}

#email{
  color: #00aeef;
}

.social{
  display: flex;
  justify-content: space-between;
  width: 60%;  
}

.social a{
  font-size: 1.5rem;
  color: #fff;
}

.social a:hover{
  color: #00aeef;
}

.footer-card ul li a{
  color: #fff;
}

.footer-card ul li a:hover{
  color: #00aeef;
  font-size: 1.1rem;
}

.copyright{
  padding-top: 2rem;
}


.boja{
  background-color: #494949;
  height: 13rem;
  margin-bottom: 6rem;
  padding-bottom: 8rem;
  padding-top: 2rem;
}

.footer-content div a{
  display: flex;
  justify-content: center;
}

.footer-content{
  overflow: hidden;
}



/* MEDIA QUERIES */

/* SMARTPHONE */

@media (min-width:320px) and (max-width: 480px){
  .nav{
    height: 6rem;
    overflow: hidden;
  }

  .showcase{
    height: 90vh;
  }
/* NAV BAR HIDDEN UBACITI PADAJUCI MENI U JAVASCRIPTU */
  .nav ul{
    visibility: hidden;
  }
.footer-content div a img{
  width: 100%;
}

.footer-card h3{
  padding-bottom: 0rem;
  padding-top: 1rem;
}

.boja{
  height: 16rem;
  margin-bottom: 0px;
}

.social{
  width: 34%;
}

.about{
  display: flex;
  flex-direction: column;
}

#bus-img{
  display: flex;
  justify-content: center;
}
#bus-img img{
  width: 70%;
  align-items: center;
}

.video img{
  width: 100%;
}

.footer-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-content{
  display: grid;
  grid-template-columns:  1fr 1fr;
}
}

/* TABLET */


@media (min-width:481px) and (max-width: 768px){

  /* NAV BAR HIDDEN UBACITI PADAJUCI MENI U JAVASCRIPTU */

  .nav ul{
    visibility: hidden;
  }

  .boja{
    height: 16rem;
    margin-bottom: 0px;
  }

  .about{
    display: flex;
    flex-direction: column;
  }

  .footer-content{
    display: grid;
    grid-template-columns:  1fr 1fr;
  }

  .boja{
    height: 20rem;
  }

  .footer-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .social{
    width: 34%;
    margin-top: -15px;
  }

  .footer-card h3{
    padding-bottom: 0rem;
    padding-top: 1rem;
  }
  
}


@media (min-width:769px) and (max-width: 900px){
  .nav ul{
    width: 80%;
  }
}


@media (max-width: 900px) {
  .footer-content{
    width: 100%;
  }
}

@media(max-width: 1200px) {
  .nav{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .logo{
    padding-bottom: 0.5rem;
  }

  .showcase{
    height: 70vh;
  }

  .footer-info{
    grid-gap: 1rem;
  }
}


